*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    position: relative;
}
.container{
    width: clamp(300px, calc(100dvw - 10rem), 2000px);
    height:clamp(400px, calc(100dvh - 2em), 1000px);
    margin-block: 1em;
    box-sizing: border-box;
    padding: 1em;
    margin-inline: auto;
    overflow: scroll;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scroll-snap-type: X mandatory;
    anchor-name: --container;
}
.container::scroll-button(right), .container::scroll-button(left){
    content: "\002771";
    font-size: 1.5rem;
    margin: 0px;
    font-weight:bold;
    border-radius: 10px;
    color: rgb(0, 105, 197);
    z-index: 4;
    width: 2rem;
    height: 5rem;
    text-align: center;
    border: 0px;
    background-color: var(--background-color);
    position-anchor: --container;
    position: absolute;
    align-self: anchor-center;
    right: calc(anchor(right) - 45px);
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.478), -0.2rem -0.2rem 0.2rem rgba(255, 255, 255, 0.601);
}
.container::scroll-button(left){
    content: "\002770";
    left: calc(anchor(left) - 45px);
}
.container::scroll-button(*):disabled
{
    color: rgb(100, 100, 100);
}
.container::scroll-button(right):hover{
    transform: scale(1.1);
}
.container::scroll-button(left):hover{
    transform: scale(1.1)
}
.sub-container{
    min-width: calc(70% - 2rem);
    margin-inline: 1rem;
    max-height: 100%;
    padding: 1em;
    border: 1px solid green;
    box-sizing: border-box;
    scroll-snap-align: center;
    border-radius: min(3dvw, 32px);
    background-color: var(--background-color);
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.close{
    position: absolute;
    width: 1.5rem;
    aspect-ratio: 1;
    left: 1em;
    top: -0.5rem;
    object-fit: cover;
    z-index: 3
}
@media only screen and (max-width: 800px) {
    .container{
        width: clamp(300px, calc(100% - 1em), 2000px);
        height: clamp(600px, calc(100dvh - 3rem), 1500px);
        margin-top: 2rem;
    }
    .sub-container{
        min-width: calc(100% - 1em);
    }
    .container::scroll-button(right), .container::scroll-button(left){
        content: "\002771";
        font-size: 1rem;
        border-radius: 10px;
        color: rgb(0, 105, 197);
        z-index: 4;
        width: 1.5rem;
        right: anchor(right);
        box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.478);
    }
    .container::scroll-button(left){
        content: "\002770";
        left: anchor(left);
    }
    .close{
        top: -1.9rem;
    }
}